#contacto form{font-size:1.8rem;}

fieldset{padding:1rem;}
fieldset legend{font-size:1.8rem;font-weight: 700;margin-bottom: 1em;}
fieldset div{margin:2rem auto;}
form label{margin-right: 1rem;text-transform: uppercase;font-size:1.45rem;}
.form-control{
    border:0;
    outline: 0;
    border-bottom:2px solid #065191;
    width:95%;
    padding:1rem 0 0;
    border-radius: 0;
}
form input[type="radio"]{
    width:auto;
    margin-left: 1rem;
    margin-right: 2rem;
}
::-webkit-input-placeholder{
    font-size:1.8rem;
}
:-ms-input-placeholder{
    font-size:1.8rem;
}
::placeholder,select option,.form-select{
    font-size:1.8rem;
}
form select{
    display: block;
    width:100%;
    max-width:300px;
    min-height:45px;
}
.form-check-input{width: 1em !important; cursor: pointer;}
form textarea.form-control{width:97%;border:1px solid rgb(151, 151, 151);border-radius: .3rem;border-bottom:2px solid #065191;}
input#limpiar,input#enviar{
    border-radius: 5px;
    min-height: 45px;
    line-height: 45px;
    border:0;
    font-size:1.45rem;
    text-transform: uppercase;
    padding:0;
}
input#enviar{background-color: #065191;color:#fff;}
input#enviar:hover,input#enviar:focus{
    background-color: #012747;
}
input#limpiar:hover,input#limpiar:focus{
    background-color: #b8b8b8;
}
.social .icon:first-of-type{padding-left:0;}

iframe{width:100%;max-width:595px;}

@media(min-width:768px){
    .areamapa .col{width:49.5%;}
    .areamapa .areaimg{order:2;}
    .areamapa .areatxt{order:1;}
}
@media(min-width:500px){
    form div:not(.w100){
        display: inline-block;
        vertical-align: top;
    }
    input#limpiar, input#enviar{display: inline-block;width:47%;vertical-align: middle;}
    input#limpiar{margin-right: 3%;}
}