#servicios .aperturabg{
    background-image: url('../assets/img/planes.jpg');
    background-position: center;
    height:600px;
}
table{
    border:1px solid #000;
    width:100%;
    max-width:900px;
    margin:30px auto 50px;
    border-collapse: collapse;
}
table th,table td{
    border: 1px solid;
    padding:1.5%;
}
table{
    color:#fff;
}
caption{
    font-size:1.55rem;
    margin:2rem auto;
    font-weight: bold;
    color: #065191;
}
caption,th{
    text-transform:uppercase;
}
table td{
    font-size:1.65rem;
}
table th,tfoot td{
    font-size:1.85rem;
    letter-spacing: 1px;;
}
tfoot td{
    font-weight: bolder;
}
section:not(.contenedorapertura){text-align: center;padding:25px 10px;}

table td:first-of-type,
table th:first-of-type{
    background-color: #006dcb;
}
table td:nth-of-type(2),
table th:nth-of-type(2){
    background-color: #065191;
}
table td:last-of-type,
table th:last-of-type{
    background-color: #000;
}