/*Adaptaciones*/
@media screen and (min-width:500px) {
    #contacto {
        form{
            div:not(.w100){
                display: inline-block;
                vertical-align: top;
                width: 49%;
                padding-left:0;
            }
            input#limpiar, input#enviar{
                display: inline-block;
                width:47%;
                vertical-align: middle;
            }
            input#limpiar{margin-right: 3%;}
        }
    }
}
@media screen and (min-width:526px) {
    footer {
        .rights{text-align: left;}
        .social{text-align: right;}
    }
}
@media screen and (min-width:600px) {
    #quienessomos .aperturabg{background-image: url('../assets/img/quienessomos-lg.jpg');}
    #servicios .aperturabg{background-image: url('../assets/img/servicios-lg.jpg');}
    #planes .aperturabg{background-image: url('../assets/img/planes-lg.jpg');}
    #contacto .aperturabg{background-image: url('../assets/img/contacto-lg.jpg');}
}
@media screen and (min-width:768px) {
    //Home
    aside{
        .areatxt{
            padding:0 4% 2% 1%;
            text-align: left !important;
            h2{
                padding-top:0;
                padding-bottom:2%;
            } 
        }
        .cta{margin-top:2%;}
    }
    //Contacto
    #contacto {
        .areaimg,.areatxt,.areamapa .col{width:49.5%;}
        .areaimg,.areatxt{display: inline-block;vertical-align: top;}
        .areamapa{
            .areaimg{order:2;}
            .areatxt{order:1;}
        }
    }
    //Quiénes somos
    #quienessomos {
        .cuadros.cols{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding:0;
            .col{
                @include width_mw(49.5%,595px);
                display: inline-flex;
                vertical-align: middle;
                padding:3rem;
            }
        }
        .cuadros.cols.inverse{
            flex-direction: row-reverse;
        }
    }
}